<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="author" content="Christopher Gugelmeier, Andrei Koshelev">
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content=ie=edge>
    <title>Home</title>

    <!-- CSS Section -->
    <link rel="stylesheet" href="../../node_modules/bootstrap/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="../../node_modules/@fortawesome/fontawesome-free/css/all.css">
    <link rel="stylesheet" href="../../content/app.css">
    <link rel="stylesheet" href="../../content/style.css">

    <script src = "../../scripts/namespace.js"></script>
    <script src = "../../scripts/router.js"></script>
    <script src = "../../scripts/user.js"></script>
    <script src = "../../scripts/contact.js"></script>
</head>
<body>

<header></header>

<div class="container">
    <div id="welcomeAlert" class="alert alert-success" role="alert" style="display: none;"></div>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

    <script>
        $(document).ready(function() {
            console.log("Document ready");

            var userDisplayName = sessionStorage.getItem("userDisplayName");
            console.log("User display name:", userDisplayName);

            if (userDisplayName) {
                var welcomeMessage = "Welcome, " + userDisplayName + "!";
                console.log("Welcome message:", welcomeMessage);
                $("#welcomeAlert").text(welcomeMessage).show();
            }

            // Check if the alert has been shown already
            var alertShown = sessionStorage.getItem("alertShown");
            console.log("Alert shown:", alertShown);
            if (!alertShown) {
                var welcomeMessage = "Welcome, " + userDisplayName + "!";
                console.log("Welcome message (not shown before):", welcomeMessage);
                $("#welcomeAlert").text(welcomeMessage).show();
                sessionStorage.setItem("alertShown", true);
            }
        });
    </script>

    <div>
        <h1 class="centered-left-text">Welcome to Harmony Hub!</h1>
    </div>
    <div class="video-container">
        <video src="../../content/centerTour.mp4" autoplay muted></video>
    </div>
</div>

<footer></footer>

<!-- Scripting Section -->
<script src="../../node_modules/jquery/dist/jquery.min.js"></script>
<script src="../../node_modules/bootstrap/dist/js/bootstrap.min.js"></script>
<script src="../../scripts/main.js"></script>

</body>
</html>