<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="author" content="Christopher Gugelmeier, Andrei Koshelev">
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content=ie=edge>
    <title>Portfolio</title>

    <!-- CSS Section -->
    <link rel="stylesheet" href="../../node_modules/bootstrap/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="../../node_modules/@fortawesome/fontawesome-free/css/all.css">
    <link rel="stylesheet" href="../../content/app.css">
    <link rel="stylesheet" href="../../content/style.css">

    <script src = "../../scripts/namespace.js"></script>
    <script src = "../../scripts/router.js"></script>
    <script src = "../../scripts/user.js"></script>
    <script src = "../../scripts/contact.js"></script>
</head>

<body>

<header></header>

    <div id="projects-container">
        <img src="../../content/workshops.jpg" alt="Project 1">
        <p class="centered-left-text">Project 1</p>
        <p class="centered-left-text">This was a project we did</p>
    </div>
    <div class="card-actions">
        <button id="load-more-btn">Load more</button>
    </div>

<footer></footer>

    <script src="../../node_modules/jquery/dist/jquery.min.js"></script>
    <script src="../../node_modules/bootstrap/dist/js/bootstrap.min.js"></script>
    <script src="../../scripts/main.js"></script>

</body>
</html>