<nav class="navbar navbar-expand-lg bg-body-tertiary">
    <div class="container-fluid">
        <a class="navbar-brand" href="/home"><i class="fa-solid fa-users"></i> Harmony Club</a>
        <input type="text" id="searchBar" style="width: 500px; height: 30px; margin-right: 10px;">
        <button class="btn btn-primary" onclick="searchWebsite()">Search</button>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav ms-auto mb-2 mb-lg-0" id="navItems">
                <!-- Navbar links will be inserted here based on login status -->
            </ul>
        </div>
    </div>
</nav>

<script>
    function isUserLoggedIn() {
        return sessionStorage.getItem("user") !== null;
    }

    function populateNavbar() {
        const navItems = document.getElementById('navItems');
        if (isUserLoggedIn()) {
            // Navbar content for logged-in users
            navItems.innerHTML = `
                <li class="nav-item">
                    <a class="nav-link" href="/home"><i class="fa-solid fa-house"></i> Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/services"><i class="fa-solid fa-note-sticky"></i> Services</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/blog"><i class="fa-solid fa-phone"></i> Blog</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/statistics"><i class="fa-solid fa-chart-simple"></i> Statistics</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/event_planning"><i class="fa-solid fa-calendar"></i> Event Planning</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/logout"><i class="fa-solid fa-sign-out-alt"></i> Logout</a>
                </li>
            `;
        } else {
            // Navbar content for guests (logged-out users)
            navItems.innerHTML = `
                <li class="nav-item">
                    <a class="nav-link" href="/home"><i class="fa-solid fa-house"></i> Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/services"><i class="fa-solid fa-note-sticky"></i> Services</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/blog"><i class="fa-solid fa-phone"></i> Blog</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/login"><i class="fa-solid fa-sign-in-alt"></i> Login</a>
                </li>
            `;
        }
    }

    window.onload = populateNavbar;
</script>
