<nav class="navbar navbar-expand-lg bg-body-tertiary">
    <div class="container-fluid">
        <a class="navbar-brand" href="/home"><i class="fa-solid fa-users"></i> Harmony Club</a>
        <input type="text" id="searchBar" style="width: 500px; height: 30px; margin-right: 10px;">
        <button class="btn btn-primary" onclick="searchWebsite()">Search</button>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav ms-auto mb-2 mb-lg-0" id="navItems">
                <li id="home" class="nav-item">
                    <a class="nav-link" href="/home"><i class="fa-solid fa-house"></i> Home</a>
                </li>
                <li id="services" class="nav-item">
                    <a class="nav-link" href="/services"><i class="fa-solid fa-note-sticky"></i> Services</a>
                </li>
                <li id="blog" class="nav-item">
                    <a class="nav-link" href="/blog"><i class="fa-solid fa-phone"></i> Blog</a>
                </li>
                <li id="login" class="nav-item">
                    <a class="nav-link" href="/login"><i class="fa-solid fa-sign-in-alt"></i> Login</a>
                </li>
            </ul>
        </div>
    </div>
</nav>

<script>
    function isUserLoggedIn() {
        return sessionStorage.getItem("user") !== null;
    }

    function addProtectedLinks() {
        if (isUserLoggedIn()) {
            const navItems = document.getElementById('navItems');

            const statisticsLi = document.createElement('li');
            statisticsLi.className = 'nav-item';
            statisticsLi.innerHTML = '<a class="nav-link" href="/statistics"><i class="fa-solid fa-chart-simple"></i> Statistics</a>';
            
            const eventPlanningLi = document.createElement('li');
            eventPlanningLi.className = 'nav-item';
            eventPlanningLi.innerHTML = '<a class="nav-link" href="/event_planning"><i class="fa-solid fa-calendar"></i> Event Planning</a>';
            
            navItems.appendChild(statisticsLi);
            navItems.appendChild(eventPlanningLi);
        }
    }

    window.onload = function() {
        addProtectedLinks();
    };
</script>